@{
    ViewBag.Title = "S.O.S";
}
<h2>S.O.S Oração</h2>
<br />

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 18rem">
                <img src="~/Images/alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:150px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreiro e Músico<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;Dispónivel das 21:00 as 22:30<br />
                        <i class="fas fa-phone"></i>&nbsp;(11)96147-6400
                    </p>
                </div>
            </div>
        </div>
    </div>    
 </div>

