@{
    ViewBag.Title = "S.O.S";
}
<h2>S.O.S Oração</h2>
<br />

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 16rem">
                <img src="~/Images/Alexander.jpg"
                     class="img-fluid rounded-circle"
                     style="width:100px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Alexander Albuquerque Oliveira<br />
                        <i class="fas fa-fist-raised"></i>&nbsp;Líder do Vamos Orar<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Músico & Obreiro<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;(Seg á Sex)&nbsp;21:00 as 22:30<br />
                        <a href="tel: (11)96147-6400"><i class="fas fa-phone-alt"></i>&nbsp;(11)96147-6400</a>                        
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 16rem">
                <img src="~/Images/Nathalia.jpg"
                     class="img-fluid rounded-circle"
                     style="width:100px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Nathalia Vargas de Albuquerque Silva<br />
                        <i class="fas fa-fist-raised"></i>&nbsp;Líder do Vamos Orar<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreira<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;(Seg á Sex)&nbsp;12:00 as 18:00<br />
                        <a href="tel: (11)96163-8725"><i class="fas fa-phone-alt"></i>&nbsp;(11)96163-8725</a>
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 16rem">
                <img src="~/Images/Denise.jpg"
                     class="img-fluid rounded-circle"
                     style="width:100px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Denise Oliveira Pereira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Obreira<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;(Domingo)&nbsp;11:00 ás 15:00<br />
                        <a href="tel: (77)9906-9485"><i class="fas fa-phone-alt"></i>&nbsp;(77)9906-9485</a>
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 16rem">
                <img src="~/Images/Gilvano.jpg"
                     class="img-fluid rounded-circle"
                     style="width:100px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Gilvano Rodrigues de Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Presibítero<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;(Domingo)&nbsp;11:00 ás 15:00<br />
                        <a href="tel: (11)95715-9649"><i class="fas fa-phone-alt"></i>&nbsp;(11)95715-9649</a>
                    </p>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="col-md">
            <div class="card" style="width: 16rem">
                <img src="~/Images/Adenir.jpg"
                     class="img-fluid rounded-circle"
                     style="width:100px"
                     alt="" />
                <div class="card-body">
                    <p class="card-text">
                        <i class="fas fa-id-card"></i>&nbsp;Adenir Rodrigues Pereira Oliveira<br />
                        <i class="fas fa-briefcase"></i>&nbsp;Diaconisa<br />
                        <i class="fas fa-church"></i>&nbsp;Avivamento Bíblico<br />
                        <i class="far fa-clock"></i>&nbsp;(Seg á Sex)&nbsp;06:00 ás 12:00<br />
                        <a href="tel: (11)94604-0753"><i class="fas fa-phone-alt"></i>&nbsp;(11)94604-0753</a>
                    </p>
                </div>
            </div>
        </div>
    </div>@* Fim Row*@
</div> @* Fim Container*@

