@model IEnumerable<VamosOrar.Data.Models.PedidosOracoes>


@{
    ViewBag.Title = "Pedidos de Oração";
}

        <h2>Lista de Pedidos de Orações</h2>
        <br />
        <p>            
            <button type="button" class="btn btn-outline-success waves-effect btn-sm create">Novo Pedido&nbsp;<i class="far fa-plus-square"></i></button>
        </p>
        <br />
        <div>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item active" aria-current="true">@Html.DisplayFor(modelItem => item.Causas)</li>
                    <li class="list-group-item"><strong>Nome:</strong>&nbsp;@Html.DisplayFor(modelItem => item.Nome)</li>                    
                    <li class="list-group-item">
                        <button type="button" class="btn btn-outline-primary waves-effect btn-sm edit" data-id="@item.Id" disabled>Editar&nbsp;<i class="fas fa-edit"></i></button>
                        &nbsp;
                        <button type="button" class="btn btn-outline-danger waves-effect btn-sm delete" data-id="@item.Id" disabled>Apagar&nbsp;<i class="fas fa-trash"></i></button>
                    </li>
                    <br />
                }
            </ul>
        </div>    
        
        <div id="modal" class="modal fade" role="dialog" />

        @section scripts{
            <script>
                $(function () {
                    $(".create").click(function () {
                        $("#modal").load("/Oracoes/Create", function () {
                            $("#modal").modal();
                        })
                    });

                    $(".details").click(function () {
                        var id = parseInt($(this).attr("data-id"));

                        $("#modal").load("/Oracoes/Details/" + id, function () {
                            $("#modal").modal();
                        })
                    });

                    $(".edit").click(function () {
                        var id = parseInt($(this).attr("data-id"));

                        $("#modal").load("/Oracoes/Edit?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });

                    $(".delete").click(function () {
                        var id = parseInt($(this).attr("data-id"));

                        $("#modal").load("/Oracoes/Delete?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });

                    window.setTimeout(function () {
                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
                            $(this).remove();
                        });
                    }, 4000);

                })
            </script>
        }





